<div>
    <h4>Categories</h4>
    @foreach (var category in Model)
    {
        <button class="accordion">@category.Name</button>
        <div class="panel">
            <ul>
                @foreach (var subCategory in category.SubCategories)
                {
                    <li>
                        <a href="@Url.Action("Index", "Products", new { categoryId = subCategory.CategoryId, subCategoryId = subCategory.SubCategoryId })">
                            @subCategory.Name
                        </a>
                    </li>
                }
            </ul>
        </div>
    }
</div>
