@{
    ViewData["Title"] = "Home Page";
}
<!-- Hero Section -->
<section class="hero-section">
    <div class="hero-image">
        <div class="hero-text">
            <h1>Don't panic, go organic</h1>
            <p class="lead">Reach for a healthier you with organic foods.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Justo natus culpa officia quasi, accusantium explicabo?</p>
            <a href="@Url.Action("About", "Home")" class="btn btn-primary btn-lg">About Us</a>
        </div>
    </div>
</section>
