@model IEnumerable<OnlineGroceryStore.Models.Product>

<<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="@product.ImageUrl" alt="@product.Name">
                <div class="card-body">
                    <h5 class="card-title">@product.Name</h5>
                    <p class="card-text">$@product.Price</p>
                    <p class="card-text">@(product.StockQuantity > 0 ? "In Stock" : "Out of Stock")</p>
                    <button class="btn btn-primary">Add to Cart</button>
                </div>
            </div>
        </div>
    }
</div>
